@import 'fonts';
@import 'colors';

.dashboard-header { 
    font-family: $body-font;
    margin-top: 35px;
    padding-bottom: 15px;
    border-bottom: .5px solid $green;
}

.dashboard-nav {
    display: flex;
    justify-content: space-between;
    position: relative;

    h1 {
        font-size: $font-l;
        margin-left: 55px;
    }
}

.title-links-div {
    display: flex;
    align-items: baseline;
    
    width: 500px;
    margin-bottom: 20px;
}


.email-display {
    margin-right: 5px;
    font-size: $font-m;
}

.email-div:hover {
    cursor: pointer;
    color: $light-green;
}

.email-div {
    display: flex;
    margin-right: 55px;
    margin-top: 10px;
    padding-bottom: 10px;
}

.hover-div {
    height: auto;
}

.dashnav-dropdown {
    z-index: 99;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    margin-right: 25px;
    justify-content: center;
    position: absolute;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.email-dropdown-button {
    text-align: center;
    background-color: #fff;
    border: none;
    padding: 10px;
    font-size: $font-m;
    font-family: $body-font;
    color: black;
    width: 100%;
}

.email-dropdown-button:hover {
    cursor: pointer;
    color: $light-green;
}

.dashboard-content-div {
    margin-top: 50px;
    font-family: $body-font;
    display: flex;
    justify-content: space-between;
}

.my-workouts-div {
    margin-left: 45px;
    width: 25%;
    h1 {
        font-size: $font-ml;
        margin-bottom: 12px;
        text-align: center;
    }
}

.workout-log-table {
    border: 4px solid black;
    border-radius: 5px;

    a:last-child {
        p {
            border-bottom: none;
        }
    }
}

.workout-date {
    text-align: center;
    border-bottom: 3px solid black;
    padding-bottom: 12px;
    padding-top: 12px;
}



.workout-date:hover {
    cursor: pointer;
    background-color: $light-green;
}



.dashboard-link {
    font-family: $body-font;
    background-color: $green;
    color: white;
    padding: 12px 30px;
    text-align: center;
}

.dashboard-link:hover {
    background-color: $light-green;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.new-workout-link-div {
    margin-right: 100px;
}

.all-workouts-link-div {
    margin-top: 35px;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.dashnav-dropdown-exercises {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 8px;
    width: 125px;
    padding: 8px; 
    position: absolute;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.exercises-links:last-child {
    margin-bottom: 15px;
}

.exercises-links {
    margin-top: 15px;
}

.exercise-toggle-div {  
    margin-left: 50px;
    padding-bottom: 10px;
}
    
.exercises-toggle:hover {
    color: $light-green;
    cursor: pointer;
}

.exercises-links:hover {
    color: $light-green;
}


@media (max-width: 480px) {

    .title-links-div {
        flex-direction: column;
        justify-content: space-between;
        font-size: $font-sm;

        h1 {
            font-size: $font-ml;
            margin-bottom: 1rem;
        }
    }

    .dashboard-nav {
        h1 {
            margin-left: 25px;
        }
    }

    .exercises-links {
        margin-top: 5px;
    }

    .exercises-links:last-child {
        margin-bottom: 5px;
    }

    .dashnav-dropdown-exercises {
        width: 85px;
        padding: 5px;
    }

    .email-dropdown-button {
        font-size: $font-sm;
        padding: 5px;
    }

    .email-div {
        font-size: $font-sm;
    }

    .email-display {
        font-size: $font-sm;
    }

    .dashboard-content-div {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .my-workouts-div {
        width: 50%;
        margin-left: 0px;
    }

    .new-workout-link-div {
        margin-right: 0px;
    }
}