@import 'colors';
@import 'fonts';

.all-exercises {
    font-family: $body-font;
}

.all-exercises-div {
    margin-top: 35px;
    margin-left: 45px;
    margin-right: 45px;
    display: flex;
    flex-wrap: wrap;
}

.exercise-name {
    flex-basis: 20%;
    margin-top: 5px;
    margin-bottom: 5px; 
}

.all-exercises-h1 {
    text-align: center;
    margin-top: 25px;
    font-size: $font-l;
} 

.categories-h1 {
    font-size: $font-l;
    text-align: center;
    margin-top: 30px;
}

.categories-div {
    display: flex;
    flex-wrap: wrap;
    font-size: $font-ml;
    margin-top: 45px;

    a {
        flex-basis: 33.33333%;
        margin-bottom: 40px;
        text-align: center;
        text-transform: capitalize;
    }

    a:hover {
        color: $light-green;
        cursor: pointer;
    }
}

.category-h1 {
    text-align: center;
    font-size: $font-l;
    margin-top: 35px;
    text-transform: capitalize;
    font-family: $body-font;

}

.category-exercises-div {
    margin-top: 35px;
    font-family: $body-font;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    p {
        flex-basis: 20%;
        margin-bottom: 40px;
        text-align: center;
    }
}

.user-exercise-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 10rem;
    margin: auto;
    height: 15rem;

    button {
        border: none;
        cursor: pointer;
    }

    label {
       
    }


}

.user-exercise-form-div {
    margin-top: 3rem;
    
}

.my-exercises-div {
    margin: 3rem;
    display: flex;
   
    align-items: center;
    flex-wrap: wrap;
}

.my-exercise-item-div {
    flex-basis: 20%;
    text-align: center;
    font-family: $body-font;
    margin-bottom: 2rem;

    p {
        padding: 5px;
        margin-bottom: 5px;

    }

    button {
        color: white;
        background-color: #d11a2a;
        border: none;
        font-family: $body-font;
    }

    button:hover {
        background-color: red;
        cursor: pointer;
    }

}

.create-new-exercise {
    font-family: $body-font;
    background-color: $green;
    color: white;
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
}

.create-new-exercise:hover {
    background-color: $light-green;
    color: white;
}


.button-section {
    display: flex;
    justify-content: center;
}


@media (max-width: 480px) {
    .dashboard-nav-link {
       justify-content: center;
    }

    .exercise-name {
        flex-basis: 50%;
        font-size: $font-sm;
        text-align: center;
    }

    .category-exercises-div {
        
        p {
            flex-basis: 50%;
        }
    }

    .categories-div {
        a {
            flex-basis: 50%;
        }
    }
}