@import 'colors';
@import 'fonts';

.all-exercises {
    font-family: $body-font;
}

.all-exercises-div {
    margin-top: 35px;
    margin-left: 45px;
    margin-right: 45px;
    display: flex;
    flex-wrap: wrap;
}

.exercise-name {
    flex-basis: 20%;
    margin-top: 5px;
    margin-bottom: 5px; 
}

.all-exercises-h1 {
    text-align: center;
    margin-top: 25px;
    font-size: $font-l;
} 

.categories-h1 {
    font-size: $font-l;
    text-align: center;
    margin-top: 30px;
}

.categories-div {
    display: flex;
    flex-wrap: wrap;
    font-size: $font-ml;
    margin-top: 45px;

    a {
        flex-basis: 33.33333%;
        margin-bottom: 40px;
        text-align: center;
        text-transform: capitalize;
    }

    a:hover {
        color: $light-green;
        cursor: pointer;
    }
}

.category-h1 {
    text-align: center;
    font-size: $font-l;
    margin-top: 35px;
    text-transform: capitalize;
    font-family: $body-font;

}

.category-exercises-div {
    margin-top: 35px;
    font-family: $body-font;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    p {
        flex-basis: 20%;
        margin-bottom: 40px;
        text-align: center;
    }
}