@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&family=Roboto&display=swap');

$header-font: 'Comic Neue';

$body-font: 'Roboto', sans-serif;

$font-xl: 2.5rem;
$font-l: 2rem;
$font-ml: 1.5rem;
$font-m: 1rem;
$font-sm: .75rem;

$content-icon: 12rem;
