@import 'colors';

.header {
    display: flex;
    justify-content: space-between;
    font-family: $font;
    vertical-align: center;
    background-color: $background;

    h1 {
        font-size: 44px;
        padding: 20px 25px;
        color: $secondary;
    }
}



.session-links-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    

    a {
       
        margin-right: 20px;
        text-decoration: none;
        color: $secondary;
        font-family: inherit;
        font-size: 20px;
        
    }

    a:hover {
        color: $accent;
    }

   

}

.session-links-nav button:hover {
    cursor: pointer;
    background-color: $accent;
}



.welcome-nav {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        padding: 20px 25px;
        font-size: 28px;
        font-weight: 600;
    }
    
    button { 
        border: none;
        background-color: white;
        font-family: inherit;
        font-size: 16px;
        color: $secondary;
        
    }

    button:hover {
        cursor: pointer;
        color: $accent;
    }
}

.my-workouts {
    align-self: center;
    text-decoration: none;
    color: $secondary;
}

.my-workouts:hover {
    color: black;
}

.home-content {
    display: flex;
}

.home-content img {
    height: 450px;
    width: 450px;
    padding: 100px 100px;
}

.home-content section {
    padding: 100px 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.home-content section p {
    font-size: 32px;
    font-weight: 700;

}