@import 'fonts';
@import 'colors';

.header {
    height: 4rem;
    font-family: $header-font;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem;
}

.title-link {
    display: flex;
}

.nav-links-div {
    display: flex;
    width: 10rem;
    justify-content: space-evenly;

    a:hover {
        color: $green;
    }
}

.info-div {
    display: flex;
    justify-content: space-between;

    font-size: $font-m;

    a:hover {
        color: $green;
    }

}

.title {
    font-size: $font-xl;
}

.logo {
    font-size: $font-xl;
    color: $green;
    padding-right: 5px;
    padding-top: 3px;
}

.about-link {
    margin-left: 25px;
    font-size: $font-m;
}

.main-content {
    font-family: $header-font;
}

.get-started {
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        font-size: $font-l;
        text-transform: capitalize;
    }

    a {
        margin-top: 35px;
        font-size: $font-m;
        padding: 10px 75px;
        background-color: $green;
        color: white;
        border-radius: 8px;
    }

    a:hover {
        background-color: $light-green;
        color: white;
        cursor: pointer;
    }
}

.info-section {
    display: flex;
    margin-top: 45px;
    justify-content: space-around;
}

.content-icon {
    font-size: $content-icon;
  
}

.info-p {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.content-section {
    display: flex;

    p {
        margin-left: 10px;
    }
}

.dot-icon {
    color: $green;
}

.demo-section {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    button {
        margin-top: 1rem;
        padding: 8px 15px;
        border-radius: 5px;
        border: none;
        background-color: $green;
        cursor: pointer;
        color: white;
    }

    .demo-button:hover {
        background-color: $light-green;
    }
}

@media (max-width: 650px) {
    .title {
        font-size: 1.2rem;
    }

    .logo {
        font-size: $font-ml;
    }

    .header {
        height: fit-content;
    }

    .content-icon {
        font-size: 6rem;
    }

    .get-started {
        margin-top: 4rem;

        h2 {
            font-size: $font-m;
        }
    }

    .info-section {
        justify-content: space-between;
        padding-left: 1rem;
    }

    .info-p {
        font-size: $font-sm;
        padding-left: 1rem;
    }

    .main-content {
        padding-left: 1rem;
    }
}