@import 'colors';
@import 'fonts';

.workout-log-main-form-div {
    font-family: $body-font;
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.exercise-search {
    display: flex;
    align-items: baseline;
    width: 90%;

    margin: auto;
    margin-bottom: 25px;

    label {
        padding-right: 15px;
    }

    input:focus {
        outline: 2px solid $green;
    }
}

.possible-exercises {
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: center;
    margin-bottom: 25px;
    

    li {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    li:hover {
        cursor: pointer;
        color: $light-green;
    }
}

.sets-section {
    display: flex;
    text-align: center;
    align-items: baseline;
    margin: auto;
    width: 125px;
    height: 20px;

    label {
        margin-right: 15px;
    }

    input:focus {
        outline: 2px solid $green;
    }
}

.log-info-section {
    display: flex;
    align-items: baseline;
    justify-content: center;
    
    margin-top: 50px;
    font-size: $font-m;

    label {
        margin-right: 15px;
    }

    input {
        width: 100px;
        margin-right: 20px;
    }

    select {
        width: 100px;
    }

    input:focus {
        outline: 2px solid $green;
    }

    select:focus {
        outline: 2px solid $green;
    }

}

.workout-log-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.log-submit {
    
    margin-top: 35px;
    width: 80%;
    font-family: $body-font;
    background-color: $green;
    color: white;
    padding: 10px 20px;
    border: none;
   
   
}

.log-submit:hover {
    background-color: $light-green;
    cursor: pointer;
}
 
.display-all-logs-div {
    display: flex;
    flex-wrap: wrap;
    
}

.workout-log-main-content {
    flex-basis: 33.33333%;
}

@media (max-width: 480px) {
    .display-all-logs-div {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .log-info-section {
        font-size: $font-sm;

        input {
            width: 2rem;
            height: 1.5rem;
            font-size: $font-sm;
            padding-left: 5px;
            padding-right: 5px;
        }

        select {
           width: 2rem;
           font-size: $font-sm;
           padding-left: 3px;
           padding-right: 3px;

           option {
            text-align: center;
           }
        }
    }
}