@import 'fonts';
@import 'colors';

.new-workout-submit {
   margin-top: 25px;
   background-color: $green;
   color: #fff;
   padding: 10px 30px;
   border: none;
   font-family: $body-font;


}

.new-workout-submit:hover {
    cursor: pointer;
    background-color: $light-green;
}

.date-h1 {
    font-size: $font-l;
    margin-bottom: 30px;
}

.workout-log-div {
    font-family: $body-font;
    margin-left: 35px;
    margin-top: 25px;
}

.log-big-div {
    width: 350px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
  
}

.single-log-div {
    margin-bottom: 5px;
}

.display-logs-div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.log-title-div {
    display: flex;
}

.new-exercise-link-div {
    margin-top: 30px;
   

    a {
        color: white;
        background-color: $green;
        padding: 10px 25px;
    }

    a:hover {
        background-color: $light-green;
        cursor: pointer;
    }

    button {
        margin-left: 20px;
    }
}

.delete-button {
    color: white;
    background-color: #d11a2a;
    padding: 10px 30px;
    border: none;
    font-family: $body-font;
    font-size: $font-m;
}

.delete-button:hover {
    background-color: red;
    cursor: pointer;
}

@media (max-width: 480px) {

    .workout-log-div {
        margin-left: 0;
    }

    .display-all-logs-div {
        margin-right: 2rem;
    }

    .dashboard-nav-link {
       justify-content: center;
       margin-right: 0px;
    }

    .log-title-div {
        margin-top: 2rem;
        text-align: center;
        display: block;
    }

    .new-exercise-link-div {
        display: flex;
        flex-direction: column;
        align-items: center;

        button {
            margin-left: 0px;

        }
    }

    .date-input {
        padding: 8px 12px;
    }

    .delete-button {
        margin-top: 1rem;
        margin-bottom: 2rem;
    }
}